<div class="ui main container grad">
  <h1>QUANTUMi.d.</h1>
  <%= image_tag "tv.svg", style: "width:100%; left: 0px; position:static; z-index: -1;" %>
  <div style="position:absolute; border-radius: 200px; margin-top: 18px; margin-left: 37px; top:100px;">
  </div>
</div>
