<h1><%= @chat.name %></h1><br />

<% unless @messages.empty? %>
<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.user.name + ' : ' + message.content %>
    </li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Add a Message', new_chat_message_path(@chat.id) %>
