<h5 id='chat-topic'> </h5>

<div id="messages">

</div>

<% if current_user %>
  <form>
    <label>Say something:</label><br>
    <input id='chat-input' type="text" data-behavior="chat_speaker" data-chat-id = <%= @primary_chat.id %>>
  </form>
<% end %>
